minimum_pre_commit_version: "3.7.0"
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format --check --diff --config pyproject.toml
        language: system
        types: [python]
        files: ^(pathplanning/(__init__|api|registry|search2d)\.py|pathplanning/(search_based_planning|sampling_based_planning|curves)/(__init__\.py)|pathplanning/viz/.*\.py|scripts/.*\.py|tests/.*\.py|Search_based_Planning/.*\.py|Sampling_based_Planning/.*\.py|CurvesGenerator/.*\.py)$
      - id: ruff-check
        name: ruff check
        entry: ruff check --config pyproject.toml
        language: system
        types: [python]
        files: ^(pathplanning/(__init__|api|registry|search2d)\.py|pathplanning/(search_based_planning|sampling_based_planning|curves)/(__init__\.py)|pathplanning/viz/.*\.py|scripts/.*\.py|tests/.*\.py|Search_based_Planning/.*\.py|Sampling_based_Planning/.*\.py|CurvesGenerator/.*\.py)$
